  <div class="form-group">
    <label class='' for="layers">层数</label>
    <input type="number" class="form-control" id="layers" name="layers" placeholder="" value="1" max="100">
  </div>
  <div class="form-group">
    <label class="" for="room">房间号</label>
    <input type="number" class="form-control" id="roomNumber" name="roomNumber" placeholder="" min="101">
  </div>
  <div class="form-group">
    <label class="" for="area">面积大小</label>
    <input type="text" class="form-control" id="area" name="area" placeholder="">
  </div>
  <div class="form-group">
    <label class="" for="structure">房屋结构</label>
    <input type="text" class="form-control" id="structure" name="structure" placeholder="">
  </div>
  <button type="submit" class="btn btn-default">新建</button>