extends layout

block content
  if success
    div.alert.alert-success= success
  div.jumbotron
    h1 Welcome
    p 你可以查询每月的物业费用或者给我们建议以及故障申报
    p
      a(href='/query' class='btn btn-primary') 费用查询
      a(href='/report' class='btn btn-default') 故障申报
      a(href='/reportStatus' class='btn btn-default') 申报进度