extends layout

block content
  table.table.table-striped
    tr
      td 楼层
      td 房号
      td 结构
      td 面积
    each f in fllors
      tr
        td=f.layers
        td
          a(href='/editFllor/' + f.name)
            =f.name
        td=f.structure
        td=f.area
    
      