extends layout

block content
  table.table.table-striped
    tr
      td 楼层
      td 房号
      td 结构
      td 面积
      td 住户
      td
    each f in fllors
      tr
        td=f.layers
        td
          a(href='/fllors/edit/' + f.name)
            =f.name
        td=f.structure
        td=f.area
        td
          if f.holderInfo
            =f.holderInfo.holderName
        td
          a(href='/fllors/delete/' + f.name) 删除
    
      